# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider
.idea/

# DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.db
*.db-journal
*.log
# .env
# .env.*
secrets.json

# dotnet format logs
.format/

#Identity
services/Identity/Mst.Identity.Services.API/bin/
services/Identity/Mst.Identity.Services.API/obj/
